<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Menu Lateral</title>
  <link rel="stylesheet" href="/components/menulateral/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Marvel&display=swap" rel="stylesheet">
</head>
<body>
  <div class="sideMenu">
    <div class="voltar">
      <img src="imagens/svg/arrow-ios-back.svg" alt="Voltar" class="icone-voltar">
      VOLTAR
    </div>
    <div class="search-container">
      <input type="text" id="buscar" placeholder="Buscar...">
      <button class="btn-busca">
        <img src="imagens/svg/search.svg" alt="Buscar" class="icone-lupa">
      </button>
    </div>

    <ul id="sideMenuItem">
      <li><a href="#">VESTIDO LONGO</a></li>
      <li><a href="#">VESTIDO CURTO</a></li>
      <li><a href="#">VESTIDO MIDI</a></li>
      <li><a href="#">MAIS VENDIDOS</a></li>
      <li><a href="#">SOBRE</a></li>
    </ul>

  </div>
</body>
</html>