<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Carrinho</title>
  <link rel="stylesheet" href="style.css" />
</head>
<body>

<div class="cart-sidebar">
  <div class="cart-header">
    <img class="icon" src="../../assets/imagens/svg/shopping-cart.svg" alt="Carrinho">
    <h2>carrinho</h2>
    <button class="close-btn">&times;</button>
  </div>

  <div class="cart-items">
    <!-- Item 1 -->
    <div class="cart-item">
      <img src="../../assets/imagens/produtos/vestido-longo/VESTIDO-CROPPED-FLORAL-TATI.webp" alt="Vestido Cropped Floral Tati">
      <div class="item-info">
        <p class="item-name">Vestido Cropped Floral Tati</p>
        <p class="item-price">R$498,00</p>
        <div class="item-controls">
          <button>-</button>
          <span>01 un.</span>
          <button>+</button>
          <button>
            <img class="icon" src="../../assets/imagens/svg/delete.svg "  alt="Lixeira">
          </button>
        </div>
      </div>
    </div>

    <!-- Item 2 -->
    <div class="cart-item">
      <img src="../../assets/imagens/produtos/vestido-longo/VESTIDO-ESTAMPADO-FLORAL-TROPICAL.webp" alt="Vestido Cropped Estampado">
      <div class="item-info">
        <p class="item-name">Vestido Estampado Floral Tropical</p>
        <p class="item-price">R$549,00</p>
        <div class="item-controls">
          <button>-</button>
          <span>01 un.</span>
          <button>+</button>
          <button>
            <img class="icon" src="../../assets/imagens/svg/delete.svg" alt="Lixeira">
          </button>
        </div>
      </div>
    </div>

    <!-- Item 3 -->
    <div class="cart-item">
      <img src="../../assets/imagens/produtos/vestido-longo/VESTIDO-LONGO-MG-BEATRICE-FLORAL.webp" alt="Vestido Longo Sonho De Mar">
      <div class="item-info">
        <p class="item-name">Vestido Longo Sonho De Mar</p>
        <p class="item-price">R$649,00</p>
        <div class="item-controls">
          <button>-</button>
          <span>01 un.</span>
          <button>+</button>
          <button>
            <img class="icon" src="../../assets/imagens/svg/delete.svg" alt="Lixeira">
          </button>
        </div>
      </div>
    </div>
  </div>

  <button class="checkout-btn">FINALIZAR COMPRA</button>
</div>

<script src="script.js"></script>
</body>
</html>
